////////////////////////////////////////////////////////////
///////////////////////////////////////////////////// COLORS
////////////////////////////////////////////////////////////
$colorDeepGray: #555;
$colorMidnightGray: #444;
$colorBurntOrange: #FF6347;
$colorFogGray: #EEE;
$colorHazyGray: #DDD;
$colorLightGray: #CCC;
$colorStoneGray: #AAA;
$colorWhite: #FFF;
$colorBlack: #000;

////////////////////////////////////////////////////////////
////////////////////////////////////////////////////// FONTS
////////////////////////////////////////////////////////////
$fontHelvetica: Helvetica, sans-serif;
$fontSize10px: 0.625em;
$fontSize16px: 1em;
$fontSize18px: 1.125em;
$fontSize20px: 1.25em;