@import 'variables';

////////////////////////////////////////////////////////////
///////////////////////////////////////////// BOWER DEFAULTS
////////////////////////////////////////////////////////////

// bower:scss
// endbower

.browsehappy {
    margin: 0.2em 0;
    background: $colorLightGray;
    color: $colorBlack;
    padding: 0.2em 0;
}

////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////// TAGS
////////////////////////////////////////////////////////////
body {
    background-color: $colorFogGray;
    padding: 0px;
    margin: 0px;
}

////////////////////////////////////////////////////////////
///////////////////////////////////////////////// CONTAINERS
////////////////////////////////////////////////////////////
.header {
    top: 0px;
    right: 0px;
    left: 0px;
    height: 70px;
    background-color: $colorMidnightGray;

    & img {
        height: 70px;
        padding-top: 3px;
        margin-left: 10%;
    }
}

.container {
    max-width: 1200px;
    min-height: 500px;
    margin: 0 auto;
    border: 5px solid $colorMidnightGray;
    border-radius: 8px;
    background-color: $colorLightGray;
    margin-top: 25px;
    position: relative;
}

.column-header {
    top: 0px;
    right: 0px;
    left: 0px;
    height: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: $fontHelvetica;
    font-style: normal;
    font-weight: bolder;
    font-size: $fontSize20px;
    color: $colorMidnightGray;
    text-align: center;
}

.pros {
    width: 33%;
    top: 0px;
    bottom: 0px;
    left: 0px;
    border-right: 5px solid $colorMidnightGray;
    position: absolute;
    overflow: auto;
    padding-bottom: 10px;
}

.cons {
    width: 33%;
    top: 0px;
    bottom: 0px;
    left: 33%;
    border-right: 5px solid $colorMidnightGray;
    position: absolute;
    overflow: auto;
    padding-bottom: 10px;
}

.neutrals {
    width: 33.5%;
    top: 0px;
    bottom: 0px;
    right: 0px;
    position: absolute;
    overflow: auto;
    padding-bottom: 10px;
}

.argument {
    left: 0px;
    right: 0px;
    height: 30px;
    padding-right: 6px;
    padding-left: 15px;
}

.description {
    font-family: $fontHelvetica;
    font-style: normal;
    font-weight: normal;
    font-size: $fontSize16px;
    width: 60%;
}

.new-argument-container {
    margin: 0 auto;
    width: 800px;
    margin-top: 20px;
    text-align: center;
}

.new-argument-field {
    width: 350px;
    height: 25px;
    font-family: $fontHelvetica;
    font-size: $fontSize16px;
    font-style: normal;
    font-weight: bold;
}

////////////////////////////////////////////////////////////
//////////////////////////////////////////////////// BUTTONS
////////////////////////////////////////////////////////////
.pro-button {
    font-family: $fontHelvetica;
    font-size: $fontSize10px;
    font-style: normal;
    font-weight: bold;
    background-color: green;
    border-radius: 4px;
    border: 1px solid $colorWhite;
    line-height: 25px;
    text-align: center;
    color: $colorWhite;
    margin-top: -20px;
    float: right;
    width: 40px;
    height: 25px;

    &:hover {
        opacity: 0.5;
        cursor: pointer;
    }
}

.con-button {
    @extend .pro-button;

    background-color: orange;
}

.neutral-button {
    @extend .pro-button;

    background-color: gray;
}

.delete-button {
    @extend .pro-button;

    background-color: red;
}

.radio-button {
    font-family: $fontHelvetica;
    font-size: $fontSize18px;
    font-style: normal;
    font-weight: bolder;
    padding-left: 20px;
    display: inline-block;
}

.new-argument-button {
    font-family: $fontHelvetica;
    font-size: $fontSize20px;
    font-style: normal;
    font-weight: bold;
    background-color: $colorHazyGray;
    border-radius: 8px;
    border: 2px solid $colorStoneGray;
    line-height: 50px;
    text-align: center;
    color: $colorMidnightGray;
    text-shadow: -1px -1px 1px $colorWhite;
    width: 140px;
    height: 50px;
    display: inline-block;
    margin-left: 30px;
    box-shadow: inset   1px -2px 1px $colorLightGray,
                        3px 3px  3px $colorStoneGray;

    &:hover {
        box-shadow: inset   2px -2px 2px $colorLightGray,
                            2px 2px  2px $colorMidnightGray;
        -webkit-transition: all .2s ease;
        transition: all .2s ease;
        cursor: pointer;
    }
}

.column-selector-container {
    display: none;
    left: 0px;
    right: 0px;
    height: 40px;
    padding-bottom: 10px;
}

.base-selector {
    width: 33.333333%;
    height: 40px;
    font-family: $fontHelvetica;
    font-size: $fontSize20px;
    font-style: normal;
    font-weight: bold;
    background-color: $colorDeepGray;
    color: $colorWhite;
    text-align: center;
    line-height: 40px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    border-top: 3px solid $colorStoneGray;
    border-bottom: 6px solid $colorStoneGray;
    border-left: 3px solid $colorStoneGray;

    &:hover {
        cursor: pointer;
        opacity: 0.5;
    }
}

.pros-selector {
    @extend .base-selector;
}

.cons-selector {
    @extend .base-selector;
}

.neutrals-selector {
    @extend .base-selector;

    border-right: 3px solid $colorStoneGray;
}

////////////////////////////////////////////////////////////
///////////////////////////////////////////////// RESPONSIVE
////////////////////////////////////////////////////////////
@media screen and (max-width: 1080px) {
    .header {
        text-align: center;
    }

    .header img {
        margin-left: 0px;
    }

    .container {
        border: 0px;
        min-height: 0px;
    }

    .column-header {
        display: none;
    }

    .pros, .cons, .neutrals {
        display: block;
        position: initial;
        width: 100%;
        padding-top: 15px;
        border: 0px;
    }

    .cons, .neutrals {
        display: none;
    }

    .pros-selector {
        opacity: 0.5;
    }

    .column-selector-container {
        display: flex;
    }

    .pro-button {
        width: 60px;
        height: 38px;
        line-height: 38px;
        font-size: 15px;
    }

    .argument {
        height: 45px;
    }

    .description {
        width: 80%;
    }

    .new-argument-container {
        width: 350px;
        height: 150px;
    }

    .new-argument-field {
        display: block;
        margin: 0 auto;
        margin-bottom: 20px;
    }

    .radio-button {
        display: block;
        margin-bottom: 20px;
        padding-left: 0px;
    }

    .new-argument-button {
        display: block;
        margin: 0 auto;
    }
}

@media screen and (max-width: 1000px) {
    .description {
        width: 75%;
    }
}

@media screen and (max-width: 850px) {
    .description {
        width: 70%;
    }
}

@media screen and (max-width: 700px) {
    .description {
        width: 65%;
    }
}

@media screen and (max-width: 600px) {
    .description {
        width: 60%;
    }
}

@media screen and (max-width: 550px) {
    .description {
        width: 55%;
    }
}